@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import 'layout/sidenav.scss';

@import "~../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@import "components/card.scss";

@import "components/buttons.scss";

$dark: #2F353D;

.margined-top {
	margin-top: 5rem;
}

.narrow {
    width: 32rem;
    height: 20rem;
}

.wide {
    width: 66rem;
    height: 25rem;
}