<template>
	<div class="card card-1">
		<div class="offset-xs-4 col-xs-4">
			<h2>{{ title }}</h2>
		</div>
		<div class="row">
			<button class="btn red" type="button">
				<span><i class="fas fa-minus"></i></span>
			</button>
			<button class="btn" type="button">
				<span><i class="fas fa-plus"></i></span>
			</button>
		</div>
	</div>
</template>
<script>
	export default {
        name: 'alter',
        props: {
        	title: String,
        	chart_id: String
        },
	    mounted() {
	  		/*this.createChart(this.chart_id, this.getData());*/
		},
	    methods: {
		  	/*createChart(chartId, chartData) {
		    	const ctx = document.getElementById(chartId);
		    	const myChart = new Chart(ctx, {
			      	type: chartData.type,
			      	data: chartData.data,
			      	options: chartData.options,
		    	});
		  	},*/
		}
	}
</script>