<template>
	<div class="card card-1 narrow">
		<h1>{{ title }}</h1>
		<canvas :id=chart_id></canvas>
	</div>
</template>
<script>
	export default {
        name: 'chart',
        props: {
        	title: String,
        	chart_id: String,
        	type: String,
        	main_chart: String,
        	comparison_chart: String
        },
	    mounted() {
	  		this.createChart(this.chart_id, this.getData());
		},
	    methods: {
		  	createChart(chartId, chartData) {
		    	const ctx = document.getElementById(chartId);
		    	const myChart = new Chart(ctx, {
			      	type: chartData.type,
			      	data: chartData.data,
			      	options: chartData.options,
		    	});
		  	},
		  	getData() {
		  		const chartData = {
				  	type: this.type,
				  	data: {
				    	labels: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
				    	datasets: [
					      	{ // one line graph
						        label: this.main_chart,
						        data: [0, 0, 1, 2, 67, 62, 27, 14],
						        backgroundColor: [
						          	'rgba(54,73,93,.5)', // Blue
						          	'rgba(54,73,93,.5)',
						          	'rgba(54,73,93,.5)',
						          	'rgba(54,73,93,.5)',
						          	'rgba(54,73,93,.5)',
						          	'rgba(54,73,93,.5)',
						          	'rgba(54,73,93,.5)',
						          	'rgba(54,73,93,.5)'
					        	],
					        	borderColor: [
						          	'#36495d',
						          	'#36495d',
						          	'#36495d',
						          	'#36495d',
						          	'#36495d',
						          	'#36495d',
						          	'#36495d',
						          	'#36495d',
					        	],
					        	borderWidth: 3
					      	},
					      	{ // another line graph
					        	label: this.comparison_chart,
					        	data: [4.8, 12.1, 12.7, 6.7, 139.8, 116.4, 50.7, 49.2],
					        	backgroundColor: [
					          		'rgba(71, 183,132,.5)', // Green
					        	],
					        	borderColor: [
					          		'#47b784',
					        	],
					        	borderWidth: 3
					      	}
				    	]
			  		},
				  	options: {
					    responsive: true,
					    lineTension: 1,
					    scales: {
					      	yAxes: [{
					        	ticks: {
					          		beginAtZero: true,
					          		padding: 25,
					        	}
					      	}]
					    }
				  	}
				}
				return chartData;
		  	}
		}
	}
</script>